<a href="/">Home</a> | <a href="/brands">All Skateboards</a> | <a href="/skateboards/new">New Board</a>

<h3><%= @skateboard.board_name %></h3>
<p>Cost:<%= @skateboard.cost %></p>
<p>Nose?:<%= @skateboard.nose %></p>
<p>Brand:<%= @skateboard.brand_id %></p>
