<a href="/">Main Show</a> | <a href="/distilleries">Distilleries</a> | <a href="/distilleries/new">New Distillery</a> | <a href="/scotches">Scotches</a> | <a href="/scotches/new">New Scotch</a>

<h1>New Scotch</h1>
<h3>Add details below for the Scotch you would like to add.</h3>
<form action="/scotches" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"><br>
  <label for="Scotch Name">Scotch Name:</label>
    <input type="string" id="scotch" name="scotch[name]" placeholder="Ex: Glenmorangie  10 year" size="50"><br><br>
  <label for="single_malt">Single Malt?</label>
    <input type="radio" id="true" name="scotch[single_malt]">
    <label for="true">true</label>
    <input type="radio" id="false" name="scotch[single_malt]">
    <label for="false">false</label><br><br>
  <label for="year">Year:</label>
    <input type="number" name="scotch[year]" size="4"><br><br>

  <input type="submit" value="Add">
</form>
