<h1><a href="/skateboards">Skateboards</a> | <a href="/brands">Brands</a></h1>



<form action ="/brands" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a Brand:</p>
  <input type='text' name='brand[brand_name]'/>Brand Name<br/>
  <input type='numeric'name='brand[established]'>Established<br/>
  <input type="boolean" name="brand[gnarly]">Gnarly?<br/>
  <input type='submit'/>
</form>
